<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>
        <p><i class="far fa-check-square"></i> - Task is completed</p>
      <% else %>
        <p><i class="far fa-square"></i> - Task is not complete</p>
      <% end %>

<p><%= link_to "Back to list", tasks_path %></p>
<p><%= link_to "Update list", edit_task_path %></p>

